absl-py==1.4.0
aggdraw==1.3.15
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
anyio==3.7.1
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
Automat==22.10.0
autopep8==1.6.0
cachetools==5.3.1
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.6
constantly==15.1.0
cors==1.0.1
crcmod==1.7
cryptography==39.0.0
cssselect==1.2.0
distlib==0.3.6
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.1
filelock==3.9.0
Flask==1.1.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
future==0.18.3
gast==0.4.0
gevent==23.9.0.post1
gmssl==3.2.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
httpcore==0.17.3
httpx==0.24.1
hyperlink==21.0.0
idna==3.3
imageio==2.25.0
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.3.2
keras==2.13.1
libclang==16.0.6
lxml==4.9.2
Markdown==3.4.4
MarkupSafe==2.0.1
networkx==3.0
numpy==1.24.3
oauthlib==3.2.2
openai==0.19.0
opencv-python==4.7.0.72
openpyxl==3.0.9
opt-einsum==3.3.0
oss2==2.18.0
outcome==1.2.0
packaging==23.0
pandas==1.3.4
pandas-stubs==1.2.0.35
parsel==1.7.0
Pillow==9.4.0
platformdirs==3.1.1
Protego==0.2.1
protobuf==4.23.4
psd-tools==1.9.24
psutil==5.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.18.0
PyDispatcher==2.0.6
PyMySQL==1.1.0
pyOpenSSL==23.0.0
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==0.19.2
python-magic==0.4.27
pytz==2021.3
PyWavelets==1.4.1
pywin32==306
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.10.0
Scrapy==2.7.1
selenium==4.8.2
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.1.23.1
tldextract==3.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
urllib3==1.26.15
virtualenv==20.21.0
w3lib==2.1.1
webdriver-manager==3.8.5
Werkzeug==2.0.2
wrapt==1.15.0
wsproto==1.2.0
xlrd==1.2.0
xmindparser==1.0.9
zope.event==5.0
zope.interface==5.5.2
